{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/dashboardHome.css">
	<link rel="stylesheet" href="./css/dashboard.css">
{% endblock %}

{% block title %}
	<title>Dashboard</title>
{% endblock %}

{% block header %}
	<header>
		<h1>Dashboard.</h1>
		<div class="dashboard_photo">
			<img src="./img/help_logo.png" alt="" srcset="">sous couche
		</div>
	</header>
{% endblock %}

{% block main %}
<section class="dashboard_home">
	<aside class="dashboard_menu">
		<nav class="dashboard_navigation">
			<div>
				<img src="./img/bx_home.png" alt="" srcset="">
				<a href="/dashboardHome">Accueil</a>
			</div>
			<div>
				<img src="./img/bx_user.png" alt="" srcset="">
				<a href="/dashboardUsers">Utilisateur</a>
			</div>
			<div>
				<img src="./img/bx_data.png" alt="" srcset="">
				<a href="/dashboardCollections">Collection</a>
			</div>
			<div>
				<img src="./img/bx_three-dots.png" alt="" srcset="">
				<a href="/dashboardOthers">Autre</a>
			</div>
		</nav>
		<span class="logout_dashboard">
			<img src="./img/logout.png" alt="" srcset="">
			<a href="">Deconnexion</a>
		</span>
	</aside>
	<!-- dashboard_global_view -->
	<!-- change page view -->
		<article class="dashboard_global_view">
			<div class="dashboard_users_home">
				<div class="chart_dashboard">
				<p>Statistique Global</p>
				<canvas id="myChart"></canvas>
				</div>
				<div>
					<table id="tab_customers">
						<tr>
							<th>Nom d'utilisateur</th>
							<th>Email</th>
						</tr>
						{% for users in users %}
							<tr>
								<td>{{users.userName}}</td>
								<td>{{users.mail}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="dashboard_cards_home">
			<p>kgdcvfdlvsvfdymsvseyudvvyduyfdyujdbdvjvdd</p>
			<h1>{{collectionCount}}</h1>
			<h2>{{usersCount}}</h2>
			</div>
		</article>
	</section>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/chart.js"></script>
{% endblock %}