<article class="dashboard_view_collection_add">
	<div class="collection_add_image">
		<p>Image</p>
		<div>
			<input type="file" name="image">
			<img src="./img/bx_image-add.png" alt="add">
		</div>
	</div>
	<div class="collection_add_form">
		<div class="collection_add_form_header">
			<p>Collection</p>
			<p>Carte</p>
		</div>
		<form action="">
			<div class="margin_bottom_collection">
				<label for="">Nom de la collection</label>
				<input type="text">
			</div>
			<div class="margin_bottom_collection">
				<div>
					<label for="">Catégorie</label>
					<input type="text">
				</div>
				<div>
					<label for="">Nombre de cartes
					</label>
					<input type="text">
				</div>
			</div>
			<div class="margin_bottom_collection">
				<label for="">Description</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>
			<div class="margin_bottom_collection">
				<div>
					<button>Créer</button>
				</div>
				<div>
					<a href="">Annuler</a>
				</div>
			</div>
		</form>
	</div>
</article>
