<article class="dashboard_view_card_add">
	<div class="collection_add_card">
		<p>Liste des cartes</p>
		<div class="collection_add_card_list">
			<div>
				<p>Nom de la carte</p>
			</div>
			<div>
				<p>Nom de la carte</p>
			</div>
			<div>
				<p>Nom de la carte</p>
			</div>
			<div>
				<p>Nom de la carte</p>
			</div>
			<div>
				<p>Nom de la carte</p>
			</div>
		</div>
	</div>
	<div class="card_add_form">
		<div class="collection_add_form_header">
			<p>Collection</p>
			<p>Carte</p>
		</div>

		<form action="">
			<div class="margin_bottom_collection">
				<label for="">Nom de la carte</label>
				<input type="text">
			</div>
			<div class="margin_bottom_collection">
				<div>
					<label for="">Image
					</label>
					<div class="card_add_input_file"><input type="file"></div>
				</div>
				<div>
					<label for="">Prix
					</label>
					<input type="text">
				</div>
			</div>
			<div class="margin_bottom_collection card_add_button">
				<div>
					<button>Ajouter</button>
				</div>
				<div>
					<a href="">Annuler</a>
				</div>
			</div>
		</form>
	</div>
</article>
