<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/dashboard.css">
		<title>Dashboard</title>
	</head>
	<body>
		<header>
			<h1>Dashboard.</h1>
			<div class="dashboard_photo">
				<img src="./img/help_logo.png" alt="" srcset="">
			</div>
		</header>
		<section class="dashboard_home">
			<aside class="dashboard_menu">
				<nav class="dashboard_navigation">
					<div>
						<img src="./img/bx_home.png" alt="" srcset="">
						<a href="">Accueil</a>
					</div>
					<div>
						<img src="./img/bx_user.png" alt="" srcset="">
						<a href="">Utilisateur</a>
					</div>
					<div>
						<img src="./img/bx_data.png" alt="" srcset="">
						<a href="/dashboardCollections">Collection</a>
					</div>
					<div>
						<img src="./img/bx_three-dots.png" alt="" srcset="">
						<a href="">Autre</a>
					</div>
				</nav>
				<span class="logout_dashboard">
					<img src="./img/logout.png" alt="" srcset="">
					<a href="">Deconnexion</a>
				</span>
			</aside>
           <!-- dashboard_global_view -->
            <!-- change page view -->
            {% block users_admin %}
            {% include "admin/dashboardCollectionAdd.twig" %}
            {% endblock %}
			<article class="dashboard_global_view">
				<div class="dashboard_users_home">
					<div></div>
					<div>
						<table id="tab_customers">
							<tr>
								<th>Nom d'utilisateur</th>
								<th>Email</th>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
							<tr>
								<td>Jack C'est L'heure</td>
								<td>tesVire@lulu.berlu</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="dashboard_cards_home"></div>
			</article>
		</section>
	</body>
</html>
