{% block nav %}





    <div class="navbar">
            <link rel="stylesheet" href="./css/nav.css">
            
               <div class='nav'>
               <a href="/shopCollections"class='space'><img src="./img/logo.png" alt="" id='logo'></a>
                <p class="space" id="btn_wallet">portefeuille</p>
                <a href="#file"class="space">profil</a> 
              
                </div>
               
                  <div id="nav_profil">
                <a href="">	<img src="./img/avatar.png" alt="image projet" id ='nav_img'></a>
              
                </div>
                
         
           
         
	</div>


{% endblock %}