<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
     <link rel="icon" type="image/png" sizes="16x16" href="/img/ico.png">
    <title>Document</title>
</head>
<header>
<button id='register'>S'inscrire</button>
<a href="/connection"><button id='login'>Se connecter</button></a>
</header>
<body>
<div id='collect7'>
    <h1>Collect7</h1>
    <h2>Collectionne, achète, et revends <br> des cartes numériques.</h2>
</div>
<div id='cards'><img src="./img/cards.png" alt=""></div>
<div id='collect'>
<h3>Collectionne</h3>
<p>commence ta collection avec la première édition qui regroupe 58 cartes One piece !</p>
</div>
</body>

</html>