@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: ubuntu;
}

body {
    background-color: #2a2a2a;
    top: 0;
    width: 100%;
    height: 100%;
}

#lost_password {
    width: 368px;
    height: 384.6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 24px;
    color: #FFCE1F;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    Line-height: 28px
}

p {

    font-size: 12px;
    height: 44px;
    width: 367px;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    Line-height: 24px;
    text-align: center;
}

#mailto {
    font-size: 12px;
    height: 95px;
    width: 367px;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    Line-height: 24px;
    text-align: center;
    cursor: pointer;
}

#mailto:hover {
    color: #FFCE1F;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3F3F3F;
    width: 345.52px;
    height: 63.75px;
    border-radius: 10px;
    margin-bottom: 10px;
}

img {
    width: 25.5px;
    height: 25.5px;
    padding: 0 10px 0 20px;
}

input {
    background: transparent;
    width: 345.52px;
    height: 63.75px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
}

input::placeholder {
    font-size: 14px;
    color: #D2D2D2;
}

button {
    background-color: #FFCE1F;
    color: #2A2A2A;
    width: 345.52px;
    height: 63.75px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color:#eebe12;
}

#cancel {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}

#cancel:hover {
    color: #FFCE1F;
}