/* ERROR CONTAINER */

#error_position {
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

#error_container {
    display: none !important;
    width: 300px;
    height: 47px;
    display: flex;
    flex-direction: row;
    position: absolute;
}

#error_left_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 47px;
    background: #FE6363;
    border-radius: 6px 0px 0px 6px;
}

#error_right_container {
    width: 254px;
    height: 47px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    border-radius: 0px 6px 6px 0px;
}

#p_error {
    width: 36px;
    height: 9px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
    margin: 0 0 5px 0;
}

#p_error_description {
    margin: 0 0 10px 0;
    width: 233px;
    height: 11px;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    color: #D2D2D2;
}


/* TOP CONTAINER */

#connection h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFCE1F;
    margin: 0;
    padding-top: 30px;
}

#connection_close {
    background: #3F3F3F;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 355px;
    cursor: pointer;
}

#connection_close:hover {
    background: #504e4e;
}

.subtitle_connection {
    color: white;
    font-size: 16px;
}


/* MIDDLE CONTAINER */

.google_auth {
    width: 344.69px;
    height: 63.6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #FFCE1F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_google_auth div,
.form_connection div {
    display: flex;
    align-items: center;
}

.form_google_auth div img,
.form_connection div img {
    width: 25.5px;
    height: 25.5px;
    padding: 0px 10px 0px 20px;
}

.form_google_auth {
    margin-bottom: 5px;
}

.google_auth label {
    width: 80%;
    height: 63.6px;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    color: #D2D2D2;
    font-size: 14px;
    cursor: pointer;
}

.create_registration {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.create_registration:hover {
    color: #FFCE1F;
}

.separation_connection {
    width: 344.69px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

#connection {
    width: 408px;
    height: 578.47px;
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

#connection a {
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

#connection form div {
    width: 344.69px;
    height: 63.6px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#connection form div input {
    width: 80%;
    height: 63.6px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #D2D2D2;
}

#connection form div input::placeholder {
    color: #D2D2D2;
}


/* BOTTOM CONTAINER */

#connection form button {
    width: 344.69px;
    height: 63.6px;
    background-color: #FFCE1F;
    color: #2A2A2A;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

#connection form button:hover {
    background-color: #eebe12;
}

.lost_password {
    padding-top: 20px;
    color: white;
}

.lost_password:hover {
    color: #FFCE1F;
}