

/********************************* dashboard User ********************/
.dashboard_navigation div:nth-child(2) {
    border-left: 4px solid var(--yellow);
    background-color: #ffce1f2f;
  }

.dashboard_view_users{
    height: 94%;
    width: 74%;
    background-color: var(--backgroundSection);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard_view_users_header{
    height: 15%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard_view_users_header img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dashboard_view_users_search{
    width: 250px;
    height: 50px;
    background-color: var(--inputColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
}

.dashboard_view_users_search input{
    height: 90%;
    width: 80%;
    background: transparent;
    outline: none;
    border: none;
    color: var(--textColor);
}

.dashboard_view_users_search input::placeholder{
    color: var(--textColor);
    font-size: 16px;
}

.dashboard_view_users_title{
    height: 15%;
    width: 98%;
    background-color: var(--inputColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--textColor);
}

.dashboard_view_users_title div{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_view_users_data{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    color: var(--textColor);
}

.dashboard_view_users_header{
  height: 50px;
  margin: 20px 0px;
}

.data_users{
    width: 98%;
    height: 80px;
    background-color: var(--inputColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px 0px;
}

.data_users img{
    width: 27px;
    height: 32px;
    cursor: pointer;
}

.data_users div{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
}