@font-face {
    font-family: 'ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color: white;
    font-family: 'ubuntu';
    height: 1500px;
}



/* TOP CONTAINER */

#top_container {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
}

#btn_container {
    top: 0;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btn_register {
    background-color: white;
    border: none;
    color: #2a2a2a;
    border-radius: 100px;
    width: 95px;
    height: 41px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
}

#btn_connection {
    background-color: #ffce1f;
    border: none;
    color: #2a2a2a;
    border-radius: 100px;
    width: 131.86px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}



/* MIDDLE CONTAINER */

#h1_home {
    width: 378px;
    height: 80px;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 40px 0 0 20px;
}

#h2_home {
    width: 378px;
    height: 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin: 30px 0 30px 20px;
}


/* BOTTOM CONTAINER */

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 408px;
    width: 428;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 220px;
    background-image: url('../img/home.gif');
}

.img_home {
    width: 428px;
    height: 224px;
    position: absolute;
}

#first {
    width: 428px;
    height: 224px;
    background: rgba(160, 43, 43, 0.65);
}

#collect {
    width: 428px;
    height: 175px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h3_article {
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 10px 0 0 0;
}

.p_article {
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0;
}

#start {
    background: #FFFFFF;
    border-radius: 101px;
    width: 117px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    color: #2A2A2A;
    border: none;
    margin-bottom: 30px;
}

/* MODALES */

#register_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#connection_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}