@font-face {
    font-family: 'ubuntu';
    src: url("Ubuntu-Regular.ttf");
}
body{
    background-color: #2a2a2a;
    color: white;
    display: flex;
    justify-content: center;
    font-family: ubuntu;
   

}
div{
    width: 500px;
    padding: 20px;
    
}
h1{

    margin-top: 50px;
    margin-bottom: 50px;
}