/* ERROR CONTAINER */

#error_position {
    display: none !important;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
}

#error_container {
    width: 300px;
    height: 47px;
    display: flex;
    flex-direction: row;
    position: absolute;
}

#error_left_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 47px;
    background: #FE6363;
    border-radius: 6px 0px 0px 6px;
}

#error_right_container {
    width: 254px;
    height: 47px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    border-radius: 0px 6px 6px 0px;
}

#p_error {
    width: 36px;
    height: 9px;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
    margin: 0 0 5px 0;
}

#p_error_description {
    margin: 0 0 10px 0;
    width: 233px;
    height: 11px;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    color: #D2D2D2;
}

/* TOP CONTAINER */

#modal_register h1 {
    font-size: 24px;
    font-weight: bold;
    color: #FFCE1F;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#register_close {
    background: #3F3F3F;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 327px;
    cursor: pointer;
}

#register_close:hover {
    background: #504e4e;
}

#modal_register #introduction {
    font-size: 16px;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}


/* MIDDLE CONTAINER */


#modal_register form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal_register {
    background-color: #2A2A2A;
    width: 380px;
    height: 504px;
    border-radius: 25px;
    position: relative;
}

#modal_register .input_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3F3F3F;
    width: 345.52px;
    height: 63.75px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input_form img {
    width: 25.5px;
    height: 25.5px;
    padding: 0 10px 0 20px;
}

#modal_register input {
    background: transparent;
    width: 345.52px;
    height: 63.75px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
}

#modal_register input::placeholder {
    font-size: 14px;
    color: #D2D2D2;
}


/* BOTTOM CONTAINER */

#validate {
    background-color: #FFCE1F;
    color: #2A2A2A;
    width: 345.52px;
    height: 63.75px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#validate:hover {
    background-color: #eebe12;
}

#connection_redirect {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#connection_redirect:hover {
    color: #FFCE1F;
}