@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: ubuntu;
}

body {
    background-color: #2A2A2A;
    top: 0;
    width: 100%;
    height: 100%;

}

article {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

div {
    margin-bottom: 50px;

}
#back{
   
    font-size: 30px;
    margin: 30px;
}
p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    margin-left: 20px
}

a{
    display: flex;
    flex-direction: row;
    align-items: center;
   font-size: x-large;
    text-decoration: none;
    color:#FFFFFF;
}
a:hover {
    color: #FFCE1F;
}

img {
    margin-right: 20px;
}

#logout_container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

#logout_container img {
    margin-right: 5px;
}