@font-face {
    font-family: 'ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

body{

    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color: white;
    font-family: 'ubuntu';
}
img{
    width: 100vw;
    height: 172px;

}

h1{
    text-align: center;
}

hr{
    width: 388px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
#flex-end{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#community{
    background-color: #ffce1f;
    width: 139px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    color: #000000;
}
#search{
    width: 130px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
    margin-bottom:20px ;
    margin-top: 20px;
    margin-right: 20px;
}
#search img{
    width: 15px;
    height: 15px;
}
#search input{
    padding-left: 10px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #2a2a2a;
}
#search input::placeholder{
    color: #000000;
    
}
.collectAll{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
width: 135px;
height: 20px;
margin-left: 10px;
margin-bottom: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #FFFFFF;
}

button{
width: 100px;
height: 20px;
margin-left: 10px;
background: transparent;
border: solid white 1px;
color: white;
}

article{
    margin-bottom: 20px;
}
.divIMg{
position: relative;

}
.divDescription{

position: absolute;
left: 0;

}
.divDescription p{
    width: 150px;
    word-break:inherit;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.9);
}