@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: ubuntu;
    margin: 0;
}

body {
    background-color: #2a2a2a;
}

#banner {
    background-color: red;
    width: 100%;
    height: 150px;
    top: 0;
}

#banner_img {
    width: 100%;
    height: 100%;
}

#avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-left: 10px;
    position: absolute;
    top: 102px;
}

#avatar_img {
    width: 100%;
    height: 100%;
}

#settings {
    border-radius: 10px;
    overflow: hidden;
    background-color: #2a2a2a;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 108px;
    left: 386px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings_img {
    width: 100%;
    height: 100%;
    width: 16px;
    height: 16px;
}

#pseudo {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 25px;
    margin-left: 15px;
}

nav {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #818181;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.div_nav {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_nav:last-child {
    margin-right: 0px;
}

.style_nav {
    background-color: #818181;
    height: 4px;
    width: 80px;
    border-radius: 44px 44px 0 0;
}

#txt_ov {
    color: #FFCE1F;
}

#div_ov {
    background-color: #FFCE1F;
}

#separation {
    width: 100%;
    display: flex;
    justify-content: center;
}

#separation span {
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 20px 0 30px 0;
    width: 90%;
}

h2 {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 30px 20px;
}

#favorite_cards {
    background: linear-gradient(90deg, #3F3F3F 0%, rgba(42, 42, 42, 0.75) 100%);
    border-radius: 15px;
    width: 388px;
    height: 295px;
}

#overView {
    display: flex;
    justify-content: center;
}

#card_container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    display: flex;
    overflow-x: scroll;
    width: 388px;
    height: 171px;
    white-space: nowrap;
    padding-bottom: 20px;
}

.card_slot {
    width: 120.75px;
    height: 168px;
    margin-left: 20px;
    border-radius: 6px;
}

.card_slot img {
    width: 120.75px;
    height: 171px;
    border-radius: 6px;
}

::-webkit-scrollbar {
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #2A2A2A;
}

::-webkit-scrollbar-thumb {
    background: #FFCE1F;
}

#wallet_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}