@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: ubuntu;
    margin: 0;
}

body {
    background-color: #2a2a2a;
}

/* HEADER */

#button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#cancel {
    height: 40px;
    width: 96px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

#cancel:hover {
    background: rgba(255, 255, 255, 0.2);
}

#finish {
    height: 40px;
    width: 96px;
    background: rgba(175, 137, 0, 0.1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFCE1F;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

#finish:hover {
    background: rgba(175, 137, 0, 0.2);
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

/* BANNER */

#opacity_banner_container {
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
}

#banner_container {
    width: 100%;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner_img {
    width: 100%;
    height: 150px;
}

#edit_banner_container {
    border-radius: 10px;
    overflow: hidden;
    background: rgba(42, 42, 42, 0.85);
    width: 32px;
    height: 32px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_banner_container:hover {
    background: rgb(42, 42, 42);
}

#edit_banner_img {
    width: 100%;
    height: 100%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* AVATAR */

#opacity_avatar_container {
    width: 64px;
    border-radius: 50%;
    height: 64px;
    background: rgba(255, 255, 255, 0.25);
    margin-left: 10px;
    position: absolute;
    top: 244px;
    z-index: 1;
}

#avatar_container {
    overflow: hidden;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-left: 10px;
    position: absolute;
    top: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar_img {
    width: 100%;
    height: 100%;
}

#edit_avatar_container {
    border-radius: 10px;
    overflow: hidden;
    background: rgba(42, 42, 42, 0.85);
    width: 32px;
    height: 32px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#edit_avatar_container:hover {
    background: rgb(42, 42, 42);
}

#edit_avatar_img {
    width: 100%;
    height: 100%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form:first-child {
    margin-top: 20px;
}

.input_title {
    width: 148px;
    height: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 40px;
}

input {
    background: transparent;
    width: 345.52px;
    height: 63.75px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 14px;
    outline: none;
}

.input_style {
    width: 345.52px;
    height: 63.75px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.input_style img {
    width: 25.5px;
    height: 25.5px;
    padding: 0 10px 0 20px;
}

/* DELETE BUTTON */

#delete {
    width: 232px;
    height: 47px;
    background: #CE3838;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    cursor: pointer;
}

#delete:hover {
    background: #b92d2d;
}

#delete_container {
    display: flex;
    justify-content: center;
}