@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    font-family: ubuntu;
    margin: 0;
}

body {
    background-color: #2a2a2a;
}

#banner {
    background-color: red;
    width: 100%;
    height: 150px;
    top: 0;
}

#banner_img {
    width: 100%;
    height: 100%;
}

#avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-left: 10px;
    position: absolute;
    top: 102px;
}

#avatar_img {
    width: 100%;
    height: 100%;
}

#settings {
    border-radius: 10px;
    overflow: hidden;
    background-color: #2a2a2a;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 108px;
    left: 386px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings_img {
    width: 100%;
    height: 100%;
    width: 16px;
    height: 16px;
}

#pseudo {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 25px;
    margin-left: 15px;
}

nav {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #818181;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.div_nav {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_nav:last-child {
    margin-right: 0px;
}

.style_nav {
    background-color: #818181;
    height: 4px;
    width: 80px;
    border-radius: 44px 44px 0 0;
}

#txt_collection {
    color: #FFCE1F;
}

#div_collection {
    background-color: #FFCE1F;
}

#separation {
    width: 100%;
    display: flex;
    justify-content: center;
}

#separation span {
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 20px 0 30px 0;
    width: 90%;
}

#flex-end {
    display: flex;
    justify-content: end;
}

#title_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 5%;
}

#search {
    width: 140px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#search img {
    width: 16px;
    height: 16px;
}

#search input {
    padding-left: 10px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #2a2a2a;
}

#search input::placeholder {
    color: #3F3F3F;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

#collection_list {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_style:nth-child(even) {
    margin-right: 0px;
}

.card_style {
    width: 173px;
    height: 245px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.card_style img {
    width: 173px;
    height: 245px;
    border-radius: 6px;
}