{% extends "../dashboardHome.twig" %}

{% block main %}
	<section class="dashboard_home">
		<aside class="dashboard_menu">
			<nav class="dashboard_navigation">
				<div>
					<img src="./img/bx_home.png" alt="" srcset="">
					<a href="/dashboardHome">Accueil</a>
				</div>
				<div>
					<img src="./img/bx_user.png" alt="" srcset="">
					<a href="/dashboardUsers">Utilisateur</a>
				</div>
				<div>
					<img src="./img/bx_data.png" alt="" srcset="">
					<a href="/dashboardCollections">Collection</a>
				</div>
				<div>
					<img src="./img/bx_three-dots.png" alt="" srcset="">
					<a href="/dashboardOverview">Autre</a>
				</div>
			</nav>
			<span class="logout_dashboard">
				<img src="./img/logout.png" alt="" srcset="">
				<a href="">Deconnexion</a>
			</span>
		</aside>
		<article class="dashboard_view_collections">
			<div class="dashboard_view_users_header">
				<div class="dashboard_view_users_search">
					<input type="text" placeholder="Rechercher">
					<img src="./img/searchWhite.png" alt="search">
				</div>
				<img src="./img/addWhite.png" alt="add">
			</div>

			<div class="dashboard_view_users_title">
				<div>
					<p>Nom de la collection</p>
				</div>
				<div>
					<img src="./img/logo_collections.png" alt="">
				</div>
				<div>
					<p>Modifier</p>
				</div>
				<div>
					<p>Supprimer</p>
				</div>
			</div>
			<!-- change page view -->
			<div class="dashboard_view_users_data">

				{% for collections in collections %}
					<div class="data_collections">
						<div>
							<p>{{collections.nameCollection}}</p>
						</div>
						<div>
							<div class="dashboard_image_collection">
								{% if collections.img == "carouselOne.png" %}
									<img src="./img/carouselOne.png" alt="image collection">
								{% else %}
									<img src="./uploads/collections/{{collections.imageCollection}}" alt="image collection">
								{% endif %}
							</div>
						</div>
						<div>
							<a href=""><img src="./img/edit.png" alt=""></a>
						</div>
						<div>
							<a href=""><img src="./img/delete.png" alt=""></a>
						</div>
					</div>
				{% endfor %}

			</div>
		</article>
	</section>
{% endblock %}
