{% extends "../dashboardHome.twig" %}

{% block main %}
	<section class="dashboard_home">
		<aside class="dashboard_menu">
			<nav class="dashboard_navigation">
				<div>
					<img src="./img/bx_home.png" alt="" srcset="">
					<a href="/dashboardHome">Accueil</a>
				</div>
				<div>
					<img src="./img/bx_user.png" alt="" srcset="">
					<a href="/dashboardUsers">Utilisateur</a>
				</div>
				<div>
					<img src="./img/bx_data.png" alt="" srcset="">
					<a href="/dashboardCollections">Collection</a>
				</div>
				<div>
					<img src="./img/bx_three-dots.png" alt="" srcset="">
					<a href="/dashboardOverview">Autre</a>
				</div>
			</nav>
			<span class="logout_dashboard">
				<img src="./img/logout.png" alt="" srcset="">
				<a href="">Deconnexion</a>
			</span>
		</aside>
		<article class="dashboard_view_users">


			<div class="dashboard_view_users_header">
				<div class="dashboard_view_users_search">
					<input type="text" placeholder="Rechercher">
					<img src="./img/searchWhite.png" alt="search">
				</div>
				<img src="./img/addWhite.png" alt="add">
			</div>

			<div class="dashboard_view_users_title">
				<p>Nom d'utilisateur</p>
				<p>Email</p>
				<p>Supprimer</p>
			</div>

			<!-- change page view -->
			<div class="dashboard_view_users_data">
				{% for users in users %}
					<div class="data_users">
						<div>
							<p>{{users.userName}}</p>
						</div>
						<div>
							<p>{{users.mail}}</p>
						</div>
						<div>
							<img src="./img/delete.png" alt="">
						</div>
					</div>
				{% endfor %}
			</div>
		</article>
	</section>
{% endblock %}
