{% extends "../dashboardHome.twig" %}


{% block title %}
	<title>Dashboard Overview</title>
{% endblock %}

{% block main %}
	<section id="dashboard_home">
		<aside class="dashboard_menu">
			<nav class="dashboard_navigation">
				<div>
					<img src="./img/bx_home.png" alt="" srcset="">
					<a href="">Accueil</a>
				</div>
				<div>
					<img src="./img/bx_user.png" alt="" srcset="">
					<a href="">Utilisateur</a>
				</div>
				<div>
					<img src="./img/bx_data.png" alt="" srcset="">
					<a href="/dashboardCollections">Collection</a>
				</div>
				<div>
					<img src="./img/bx_three-dots.png" alt="" srcset="">
					<a href="">Autre</a>
				</div>
			</nav>
			<span class="logout_dashboard">
				<img src="./img/logout.png" alt="" srcset="">
				<a href="">Deconnexion</a>
			</span>
		</aside>
		<article class="dashboard_overview">
			<form action="/dashboardOverview" method="post" enctype="multipart/form-data">
				<div>
					<label for="titleOverview">Titre</label>
					<input type="text" name="titleOverview" placeholder="entrer votre titre">
				</div>

				<div>
					<label for="descriptionOverview">Description</label>
					<textarea name="descriptionOverview" id="" cols="30" rows="10"></textarea>
				</div>

				<div class="backgroundImageOverview">
					<label for="backgroundImageOverview">background ImageOverview</label>
					<input type="file" name="backgroundImageOverview">
				</div>

				<div class="imageOverview">
					<label for="imageOverview">image Overview</label>
					<input type="file" name="imageOverview">
				</div>

				<div>
					<button type="submit">Envoyer</button>
				</div>
			</form>
		</article>
	</section>
{% endblock %}
