{# SOUCOUCHE #}

<article class="dashboard_view_users">


	<div class="dashboard_view_users_header">
		<div class="dashboard_view_users_search">
			<input type="text" placeholder="Rechercher">
			<img src="./img/searchWhite.png" alt="search">
		</div>
		<img src="./img/addWhite.png" alt="add">
	</div>

	<div class="dashboard_view_users_title">
		<p>Nom d'utilisateur</p>
		<p>Email</p>
		<p>Supprimer</p>
	</div>

	<!-- change page view -->
	<div class="dashboard_view_users_data">
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
		<div class="data_users">
			<p>Lorem</p>
			<p>Lorem</p>
			<img src="./img/delete.png" alt="">
		</div>
	</div>
</article>
