{% extends "../dashboard.twig" %}

        {% block stylesheet %}
			<link rel="stylesheet" href="./css/dashboard/dashboardUsers.css">
			<link rel="stylesheet" href="./css/dashboard/menu.css">
			<link rel="icon" type="image/x-icon" href="./img/svg/🦆 icon _pie chart_.svg">
		{% endblock %}
		{% block title %}
			<title>Dashboard Users</title>
		{% endblock %}

        	{% block main %}
			<main>

			</main>
		{% endblock %}