*{
    margin: 0;
    padding: 0;
}

:root{
    --background: #2A2A2A;
    --yellow: #FFCE1F;
    --white: white;
    --w-opacity: #ffffff9c;
    --grey: #3E3E3E;
    --w-op: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 80%;
    height: 100%;
}
/**************************************************** Accordion */

.accordion {
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: none;
  }
  
  .acthive:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  form {
    width: 300px;
    height: 300px;
  }
  form input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    padding: 0px 10px;
    outline: none;
    background-color: var(--w-op);
    color: var(--white);
  }
  form div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
   }
  form div button{
    border:none;
    height: 100%;
    width: 50%;
    border-radius: 6px;
    background-color: var(--yellow);
    cursor: pointer;
  }
  form div p{
    height: 100%;
    width: 45%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/**************************************************** Search */

.dashboard_head{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard_search{
    width: 46%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    margin-left: 20px;
}
.dashboard_search input{
    height: 100%;
    width: 86%;
    border: none;
    background: none;
    border-radius: 0px 6px 6px 0px;
    outline: none;
    padding: 0 10px;
    color: var(--white);
}
.dashboard_search input::placeholder{
    color: var(--white);
}
.dashboard_search img{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.dashboard_profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
    margin-right: 20px;
}

/**************************************************** Fin Search */

.navigation div:nth-child(3) a{
    color: var(--yellow);
}
.navigation div:nth-child(3) svg{
    fill: var(--yellow);
    fill-opacity: 1;
}

.dashboard_list_users{
    width: 100%;
}

.add_user_title,.users_list_title{
    width: 311px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
}
.add_user_title h2,.users_list_title h2{
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
}

.add_user_title div,.users_list_title div{
    width: 48px;
    height: 48px;
    border-radius: 6px;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_user_title div img,.users_list_title div img{
    width: 24px;
    height: 24px;
}

.cover_data_users_home{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    color: var(--white);
}
.head_data_users_home{
    margin-bottom: 30px;
}

.head_data_users_home,.data_users_home{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: var(--white);
    border: 1px solid red;
}
.data_users_home{
    height: 80px;
    overflow: hidden;
}
.head_data_users_home div:nth-child(1),.data_users_home div:nth-child(1){
    width: 20%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_data_users_home div:nth-child(2),.data_users_home div:nth-child(2){
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data_users_home div:nth-child(2) img{
    width: 50%;
}
.head_data_users_home div:nth-child(3),.data_users_home div:nth-child(3){
    width: 15%;
    display: flex;
    justify-content: center;
}
.head_data_users_home div:nth-child(4),.data_users_home div:nth-child(4){
    width: 15%;
    display: flex;
    justify-content: center;
}



