{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/changePassword.css">
{% endblock %}

{% block title %}
	<title>Changer mot de passe</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<div id="lost_password">
		<h1>Changer votre mot de passe</h1>
		<p>Merci d'indiquer votre nouveau mot de passe.
			<br>Il doit être d'au moins 4 caractères.</p>
		<form action="">
			<div class="input_form">
				<img src="./img/password.png" alt="password">
				<input type="password" placeholder="Mot de passe" name="password">
			</div>
			<div class="input_form">
				<img src="./img/password.png" alt="passwordCheck">
				<input type="password" placeholder="Mot de passe" name="passwordCheck">
			</div>
		</form>
		<button>Valider</button>
		<a id="cancel" href="">Annuler</a>
	</div>
{% endblock %}

{% block script %}{% endblock %}
