{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/contact.css">
	<script src="https://kit.fontawesome.com/68fec65e7d.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
	<title>Contacter</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<div>
		<a href="/settings">
			<i class="fa-solid fa-arrow-left" id="back"></i>
		</a>
	</div>
	<section id="contact">
		<h1>Contacter</h1>
		<form action="">
			<div>
				<p class="input_title">Adresse mail</p>
				<input type="text" name="mail">
			</div>
			<div>
				<p class="input_title">Pseudo</p>
				<input type="text" name="pseudo">
			</div>
			<div>
				<p class="input_title">Sujet</p>
				<input type="text" name="subject">
			</div>
			<div>
				<p class="input_title">Description</p>
				<textarea maxlength="500" name="description" class="description"></textarea>
			</div>
		</form>
		<p id="descriptionText">Veuillez entrer les détails de votre demande. Un membre de notre équipe d’assistance vous répondra dans les plus brefs délais.</p>
		<button>Envoyer</button>
	</section>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}{% endblock %}
