<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/contact.css">
		<title>Contacter</title>
	</head>
	<body>

		<section id="contact">
			<h1>Contacter</h1>
			<form action="">
				<div>
					<p class="input_title">Adresse mail</p>
					<input type="text" name="mail">
				</div>
				<div>
					<p class="input_title">Pseudo</p>
					<input type="text" name="pseudo">
				</div>
				<div>
					<p class="input_title">Sujet</p>
					<input type="text" name="subject">
				</div>
				<div>
					<p class="input_title">Description</p>
					<textarea maxlength="500" name="description" class="description"></textarea>
				</div>
			</form>
			<p id="descriptionText">Veuillez entrer les détails de votre demande. Un membre de notre équipe d’assistance vous répondra dans les plus brefs délais.</p>
			<button>Envoyer</button>
		</section>

	</body>
</html>
