{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/home.css">
	<link rel="stylesheet" href="./css/registration.css">
	<link rel="stylesheet" href="./css/connection.css">
{% endblock %}

{% block title %}
	<title>Accueil</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<section>
		<article>
			<div id="top_container">
				<img src="./img/logo.png" alt="logo">
				<div>
					<button id='btn_register'>S'inscrire</button>
					<button id='btn_connection'>Se connecter</button>
				</div>
			</div>
		</article>
		<article>
			<h1 id="h1_home">Collect7</h1>
			<h2 id="h2_home">Collectionne, achète, et revends des cartes numériques d’animés.</h2>
		</article>
		<article>
			<div class="main_container">
				<div class="top_container">
					<img class="first_img" src="./img/article.jpg" alt="first_img">
					<div class="second_container">
						<span class="h4_timer" id="chrono"></span>

						<p class="p_subTimer">Bientôt disponible</p>
					</div>
				</div>
				<div class="bottom_container">
					<h3 class="h3_article">Nouvelle collection</h3>
					<p class="p_article">Overlord arrive sur Collect7 préparez vous à servir le Grand Tombeau de Nazarick.</p>
				</div>
			</div>
		</article>
		<div class="separation">
			<span></span>
		</div>
		<article>
			<div class="main_container row_reverse">
				<div class="top_container">
					<img class="first_img gif" src="./img/home.gif" alt="first_img">
					<div class="second_container">
						<img class="second_img" src="./img/cards.png" alt="second_img">
					</div>
				</div>
				<div id="right_div">
				<div class="bottom_container">
					<h3 class="h3_article">Collectionne</h3>
					<p class="p_article">Commence ta collection avec la première édition qui regroupe 58 cartes One piece.</p>
				</div>
				<div class="button_container">
					<button id="start">Commencer</button>
				</div>
				</div>
				
			</div>
		</article>
	</section>
	{% block register_modal %}
		{% include "../layout/registration.twig" %}
	{% endblock %}
	{% block connection_modal %}
		{% include "../layout/connection.twig" %}
	{% endblock %}
{% endblock %}

{% block script %}
	<script src="./js/modal.js"></script>
	<script src="./js/chrono.js"></script>
{% endblock %}
