<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/lostPassword.css">
		<title>Mot de passe oublié</title>
	</head>
	<body>

		<div id="lost_password">
			<h1>Vous avez oublié votre mot de passe ?</h1>
			<p>Merci d'indiquer l'adresse avec laquelle vous vous êtes inscrit. Un Email vous sera renvoyé. Vérifiez bien votre boite Spam si vous ne le recevez pas. En cas de complication, merci de nous contacter à l'adresse :
				<a id="mailto" href="mailto:collect7.project@gmail.com">collect7.project@gmail.com.</a>
			</p>
			<form action="">
				<div class="input_form">
					<img src="./img/mail.png" alt="mail">
					<input type="text" placeholder="Email" name="mail">
				</div>
			</form>
			<button>Valider</button>
			<a id="return" href="">Retour</a>
		</div>

	</body>
</html>
