{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/settings.css">
{% endblock %}

{% block title %}
	<title>Settings</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<section>
		<article>
			<nav>
				<div class="">
					<img src="./img/setting_home.png" alt="home">
					<a href="">Accueil</a>
				</div>
				<div>
					<img src="./img/setting_user.png" alt="user">
					<a href="">Modifier profil</a>
				</div>
				<div>
					<img src="./img/setting_wallet.png" alt="wwallet">
					<a href="">Portefeuille</a>
				</div>
				<div>
					<img src="./img/setting_help.png" alt="help">
					<a href="">Aide</a>
				</div>
				<div>
					<img src="./img/setting_mail.png" alt="contact">
					<a href="">Contact</a>
				</div>
				<div id="logout_container">
					<img src="./img/logout.png" alt="logout">
					<a href="">Déconnexion</a>
				</div>
			</nav>
		</article>
	</section>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}{% endblock %}
