{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/settings.css">
	<script src="https://kit.fontawesome.com/68fec65e7d.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
	<title>Settings</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
<div>
<a href="/userOverview">
<i class="fa-solid fa-arrow-left" id="back"></i>
</a>
</div>
	<section>
		<article>
			<nav>
				<div class="">

					<a href="/shopCollections">
						<i class="fa-sharp fa-solid fa-house"></i>
						<p>Accueil</p>
					</a>
				</div>
				<div>

					<a href="/userModification">
						<i class="fa-solid fa-user"></i>
						<p>Modifier profil</p>
					</a>
				</div>

				<div>

					<a href="/userManual">
						<i class="fa-sharp fa-solid fa-question"></i>
						<p>Aide</p>
					</a>
				</div>
				<div>

					<a href="/contact">
						<i class="fa-solid fa-envelope"></i>
						<p>Contact</p>
					</a>
				</div>
				<div id="logout_container">

					<a href="/logout">
						<i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
						<p>Déconnexion</p>
					</a>
				</div>
			</nav>
		</article>
	</section>
{% endblock %}

{% block script %}{% endblock %}
