{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/shopCards.css">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/ico.png">
{% endblock %}

{% block title %}
	<title>Document</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<img src="./img/home.gif" alt="">
	<h1>One Piece</h1>
	<hr>
	<div id="flex-end">
		<div id='search'>
			<input id="searchbar" type="text" name="search" placeholder="Rechercher">
			<img src="./img/search.png" alt="">
		</div>
	</div>
	<section>
		<article>
			<img class='card' src="./img/usopp.png" alt="">
			<div id='row'>
				<p>25.63$</p>
				<button class='buy'>Acheter</button>
			</div>
		</article>
		<article>
			<img class='card' src="./img/usopp.png" alt="">
			<div id='row'>
				<p>25.63$</p>
				<button class='buy'>Acheter</button>
			</div>
		</article>
		<article>
			<img class='card' src="./img/usopp.png" alt="">
			<div id='row'>
				<p>25.63$</p>
				<button class='buy'>Acheter</button>
			</div>
		</article>
		<article>
			<img class='card' src="./img/usopp.png" alt="">
			<div id='row'>
				<p>25.63$</p>
				<button class='buy'>Acheter</button>
			</div>
		</article>
	</section>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}{% endblock %}
