<!DOCTYPE html>
{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/shopCollections.css">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/ico.png">
{% endblock %}

{% block title %}
	<title>Document</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<img id="banner" src="./img/carouselOne.png" alt="">
	<h1>Boutique</h1>
	<hr>
	<div id="flex-end">
		<a href="/shopCommunity">
			<button id='community'>communauté</button>
		</a>
		<div id='search'>
			<input id="searchbar" type="text" name="search" placeholder="Rechercher">
			<img src="./img/search.png" alt=""class="img">
		</div>
	</div>
	<section>
		{% for collection in collection %}
			<a href="/shopCards" id="aWidth">
				<article class="collectAll">
					<div class="divImg">
						<img src="../uploads/collections/{{collection.imageCollection}}" alt="">
					</div>
					<div class="divDescription">
						<h2>{{collection.nameCollection}}</h2>
						<p>{{collection.descriptionCollection}}</p>

						<button>voir collection</button>

					</div>


				</article>
			</a>
		{% endfor %}
	</section>
	{% block navMobile %}
		{% include "../layout/navMobile/navMobile.twig" %}
	{% endblock %}
		{% block wallet_modal %}
		{% include "../layout/wallet.twig" %}
	{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}<script src="./js/wallet.js"></script>{% endblock %}
