{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/shopCommunity.css">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/ico.png">
{% endblock %}

{% block title %}
	<title>Document</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<h1>Boutique Communautaire</h1>
	<hr>
	<div id="flex-end">
		<div id='search'>
			<input id="searchbar" type="text" name="search" placeholder="Rechercher">
			<img src="./img/search.png" alt="">
		</div>
	</div>
	<section id='cardsSection'>
			{% for cardCom in cardCom %}
			<article>
				<img class='card' src="../uploads/cards/{{cardCom.imageCard}}"  alt="">
				<div id='row'>
					<p>{{cardCom.priceCard}} $</p>
					<button class='buy'>Acheter</button>
				</div>
			</article>
		{% endfor %}
	</section>
	{% block navMobile %}
		{% include "../layout/navMobile/navMobile.twig" %}
	{% endblock %}
		{% block wallet_modal %}
		{% include "../layout/wallet.twig" %}
	{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}<script src="./js/wallet.js"></script>{% endblock %}
