{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/userOverview.css">
	
{% endblock %}

{% block title %}
	<title>Profil Aperçu</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<section id="user_account_overview">
		{% block headerProfil %}
			{% include "../layout/headerProfil.twig" %}
		{% endblock %}
		<article id="overView">
			<div id="favorite_cards">
				<h2>Cartes Favoris</h2>
				<div id="card_container">
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
					<div class="card_slot"><img src="./img/usopp.png" alt="card"></div>
				</div>
			</div>
		</article>
		
	</section>
	
	{% block navMobile %}
		{% include "../layout/navMobile/navMobile.twig" %}
	{% endblock %}
	{% block wallet_modal %}
		{% include "../layout/wallet.twig" %}
	{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
<script src="./js/wallet.js"></script>
{% endblock %}
