{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/userCollection.css">
{% endblock %}

{% block title %}
	<title>Profil Collection</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	{% block headerProfil %}
		{% include "pages/headerProfil.twig" %}
	{% endblock %}
	<section>
		<article id="title_search">
			<h1>Cartes</h1>
			<div id="flex-end">
				<div id='search'>
					<input id="searchbar" type="text" name="search" placeholder="Rechercher">
					<img src="./img/search.png" alt="">
				</div>
			</div>
		</article>
		<article>
			<div id="collection_list">
				<div class="card_style"><img src="./img/usopp.png" alt=""></div>
				<div class="card_style"><img src="" alt=""></div>
				<div class="card_style"><img src="" alt=""></div>
				<div class="card_style"><img src="" alt=""></div>
				<div class="card_style"><img src="" alt=""></div>
				<div class="card_style"><img src="" alt=""></div>
			</div>
		</article>
	</section>
	{% block navMobile %}
		{% include "../layout/navMobile/navMobile.twig" %}
	{% endblock %}
		{% block wallet_modal %}
		{% include "../layout/wallet.twig" %}
	{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}<script src="./js/wallet.js"></script>{% endblock %}
