{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/userSell.css">
{% endblock %}

{% block title %}
	<title>Profil Ventes</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	{% block headerProfil %}
		{% include "pages/headerProfil.twig" %}
	{% endblock %}
	{% block modalSellCard %}
		{% include "pages/modalSellCard.twig" %}
	{% endblock %}
	<section>
		<article id="title_search">
			<h1>Cartes mises en vente</h1>
			<div id="flex-end">
				<div id='search'>
					<input id="searchbar" type="text" name="search" placeholder="Rechercher">
					<img src="./img/search.png" alt="">
				</div>
			</div>
		</article>
		<article id="sell_list">ZZZ
			<div class="main_container">
				<div class="card_container">
					<img src="./img/usopp.png" alt="">
				</div>
				<div class="informations">
					<h2>Usopp</h2>
					<p class="p_info">09-2022 - One Piece</p>
					<p class="p_price">25,63 €</p>
				</div>
			</div>
			<div class="main_container">
				<div class="card_container">
					<img src="./img/usopp.png" alt="">
				</div>
				<div class="informations">
					<h2>Usopp</h2>
					<p class="p_info">09-2022 - One Piece</p>
					<p class="p_price">25,63 €</p>
				</div>
			</div>
			<div class="main_container">
				<div class="card_container">
					<img src="./img/usopp.png" alt="">
				</div>
				<div class="informations">
					<h2>Usopp</h2>
					<p class="p_info">09-2022 - One Piece</p>
					<p class="p_price">25,63 €</p>
				</div>
			</div>
			<div class="main_container">
				<div class="card_container">
					<img src="./img/usopp.png" alt="">
				</div>
				<div class="informations">
					<h2>Usopp</h2>
					<p class="p_info">09-2022 - One Piece</p>
					<p class="p_price">25,63 €</p>
				</div>
			</div>
		</article>
	</section>
		{% block wallet_modal %}
		{% include "../layout/wallet.twig" %}
	{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}{% endblock %}
