{% extends "../base.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="./css/userModification.css">
{% endblock %}

{% block title %}
	<title>Modification de profil</title>
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
	<section>
		<article>
			<div id="button_container">
				<a href="/settings"><button id="cancel">Annuler</button></a>
				<button id="finish">Terminé</button>
			</div>
			<h1>Modifier profil</h1>
		</article>
		<article>
			<div id="opacity_banner_container"></div>
			<div id="banner_container">
				<div id="edit_banner_container">
					<a href=""><img id="edit_banner_img" src="./img/edit.png" alt="edit"></a>
				</div>
			</div>
			<img id="banner_img" src="./img/banner.png" alt="banner">

			<div id="opacity_avatar_container"></div>
			<div id="avatar_container">
				<img id="avatar_img" src="./img/help_logo.png" alt="avatar">
				<div id="edit_avatar_container">
					<a href=""><img id="edit_avatar_img" src="./img/edit.png" alt="edit"></a>
				</div>
			</div>
		</article>
		<article>
			<form action="">
				<div>
					<p class="input_title">Nom d'utilisateur</p>
					<div class="input_style">
						<img src="./img/user.png" alt="user">
						<input type="text" name="user" placeholder="userName">
					</div>
				</div>
				<div>
					<p class="input_title">Email</p>
					<div class="input_style">
						<img src="./img/mail.png" alt="user">
						<input type="text" name="mail" placeholder="userMail">
					</div>
				</div>
				<div>
					<p class="input_title">Mot de passe</p>
					<div class="input_style">
						<img src="./img/password.png" alt="user">
						<input type="password" name="user" placeholder="*********">
					</div>
				</div>
			</form>
			<div id="delete_container">
				<button id="delete">Supprimer le compte</button>
			</div>
		</article>
	</section>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}{% endblock %}
