<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/userModification.css">
		<title>Modification de profil</title>
	</head>
	<body>
		<section>
			<article>
				<div id="button_container">
					<button id="cancel">Annuler</button>
					<button id="finish">Terminé</button>
				</div>
				<h1>Modifier profil</h1>
			</article>
			<article>
				<div id="banner">
					<img id="banner_img" src="./img/banner.png" alt="banner">
				</div>
				<div id="avatar">
					<img id="avatar_img" src="./img/help_logo.png" alt="avatar">
				</div>
			</article>
			<article>
				<form action="">
					<div>
						<p class="input_title">Nom d'utilisateur</p>
						<div class="input_style">
							<img src="./img/user.png" alt="user">
							<input type="text" name="user" placeholder="userName">
						</div>
					</div>
					<div>
						<p class="input_title">Email</p>
						<input type="text" name="mail" placeholder="userMail">
					</div>
					<div>
						<p class="input_title">Mot de passe</p>
						<input type="password" name="password" placeholder="*********">
					</div>
				</form>
				<button>Supprimer le compte</button>
			</article>
		</section>
	</body>
</html>
