
{% extends "../base.twig" %}


{% block stylesheet %}
	<link rel="stylesheet" href="../css/userview.css">
	<link rel="stylesheet" href="../css/userUpdate.css">
{% endblock %}

{% block header %}
	{% block navbar %}
		{% include "../layout/nav/navBar.twig" %}
	{% endblock %}
{% endblock %}

{% block main %}
	<div class="userview_cover">
		<div class="userview_cover_img">
			<img src="https://i.pinimg.com/originals/5b/86/98/5b869876b50b929cac29411d2f9c958f.jpg" alt="photo de couverture">
		</div>
		<div class="userview_avatar">
			<img src="https://p4.wallpaperbetter.com/wallpaper/345/862/462/polygon-4k-5k-landscape-wallpaper-preview.jpg" alt="photo de profile">
		</div>
	</div>

	<section class="userupdate_form">

<h1>modifier</h1>
	<form action="/profil/{{userConnect.id}}" method="post">
					<div class="input_form">
						<label for="userName">Nom d'utilisateur</label>
						<input type="text" placeholder="Nom d’utilisateur" name="userName" value="{{userConnect.userName}}">
					</div>
					<div class="input_form">
						<img src="./img/mail.png" alt="mail">
						<input type="text" placeholder="Email" name="mail" value="{{userConnect.mail}}">
					</div>
					<div class="input_form">
						<input type="hidden" placeholder="Mot de passe" name="password" value="{{userConnect.password}}">
					</div>
					<button id="validate" type="submit">Valider</button>

	</section>
{% endblock %}

{% block footer %}{% endblock %}