{% block connectionModal %}
	<div id="connection" class="modal_connection modal">
		<div id="error_position">
			<div id="error_container">
				<div id="error_left_container">
					<img src="./img/error_logo.png" alt="error">
				</div>
				<div id="error_right_container">
					<p id="p_error">Erreur</p>
					<p id="p_error_description">Vous n’avez pas rempli le formulaire correctement</p>
				</div>
			</div>
		</div>
		<div class="modal-content">

			<div id="connection">
				<button id="connection_close"><img id="close_img" src="./img/cross.png" alt="close"></button>
				<h2>Se connecter</h2>
				<p class="subtitle_connection">Votre collection vous attend !</p>
				<form action="" class="form_google_auth">
					<div class="google_auth">
						<img src="./img/google.png" alt="google">
						<label for="">Continuer avec Google</label>
					</div>
				</form>
				<a class="create_registration">Vous n'avez pas de compte ?</a>
				<div class="separation_connection"></div>
				<form action="/connection" method="post" class="form_connection">
					<div>
						<img src="./img/user.png" alt="user" srcset="">
						<input type="text" name="mail" placeholder="Nom d'utilisateur ou Email">
					</div>
					<div>
						<img src="./img/password.png" alt="password">
						<input type="password" name="password" placeholder="Mot de passe">
					</div>
					<button type="submit">Valider</button>
				</form>
				<a class="lost_password">Mot de passe oublié ?</a>
			</div>
		</div>
	</div>
{% endblock %}
