<link rel="stylesheet" href="./css/footer.css">
{% block footer %}
	<footer>
		<div id="media_container">
			<a href="https://www.facebook.com/profile.php?id=100086217972194">
				<svg id="facebook" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72 72" width="64px" height="64px"><path d="M45.049,14C57.06,14,58,14.94,58,26.951v18.098C58,57.06,57.06,58,45.049,58h-2.298V41.982h5.647l0.888-6.347h-6.535	c0,0-0.01-3.716,0-4.643c0.019-1.814,1.533-2.732,2.835-2.718c1.302,0.013,3.998,0.004,3.998,0.004v-5.849	c0,0-2.335-0.302-4.784-0.328c-2.058-0.021-4.331,0.535-6.165,2.384c-1.865,1.88-2.16,4.679-2.195,8.1c-0.01,0.989,0,3.049,0,3.049	h-5.526v6.347h5.526V58h-9.489C14.94,58,14,57.06,14,45.049V26.951C14,14.94,14.94,14,26.951,14H45.049z"/></svg>
				<a href="https://twitter.com/Collect_7">
					<svg id="twitter" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72 72" width="64px" height="64px"><path d="M63,19.645c-1.43,2.143-3.24,4.026-5.325,5.538c0.02,0.459,0.03,0.921,0.03,1.384C57.705,40.701,46.977,57,27.353,57	C21.328,57,13.476,54.884,11,52.195c0.836,0.1,1.686,0.15,2.546,0.15c4.999,0,9.6-1.711,13.249-4.58	c-4.668-0.086-8.608-3.18-9.966-7.43c2.124,0.334,4.818-0.184,4.818-0.184s-8.342-1.436-8.558-10.622	c2.412,1.402,4.832,1.338,4.832,1.338s-4.811-2.97-4.744-8.901c0.039-3.499,1.442-5.38,1.442-5.38	c9.115,11.255,21.989,11.178,21.989,11.178s-0.276-1.598-0.276-2.436c0-5.906,4.775-10.697,10.667-10.697	c3.068,0,5.84,1.3,7.786,3.379c2.432-0.482,4.716-1.372,6.776-2.597c-0.931,3.737-4.69,5.918-4.69,5.918S60.09,20.971,63,19.645z"/></svg>
				</a>
			</a>
			<a href="https://www.tiktok.com/@collect_7">
				<svg id="tiktok" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72 72" width="64px" height="64px"><path d="M42.5,14C56.875,14,58,15.125,58,29.5v13C58,56.875,56.875,58,42.5,58h-13C15.125,58,14,56.875,14,42.5v-13	C14,15.125,15.125,14,29.5,14H42.5z M45.616,34.045v-3.79c0,0-2.003,0.01-3.695-1.54c-1.422-1.302-1.54-3.743-1.54-3.743h-3.79	c0,0,0,12.934,0,14.994s-1.793,3.127-3.079,3.127c-0.969,0-3.174-0.76-3.174-3.151c0-2.51,2.535-3.15,3.198-3.15	c0.663,0,0.924,0.142,0.924,0.142v-4c0,0-0.616-0.059-1.066-0.074c-3.825-0.13-6.988,3.303-6.988,7.083	c0,3.193,2.497,7.059,7.059,7.059c4.859,0,7.083-4.052,7.083-7.035c0-2.179,0-7.438,0-7.438s1.398,0.782,2.535,1.137	C44.219,34.021,45.616,34.045,45.616,34.045z"/></svg>
			</a>
			<a href="https://www.instagram.com/collect_7/">
				<svg id="instagram" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72 72" width="64px" height="64px"><path d="M 35.75 14 C 15.579 14 14 15.579 14 35.75 L 14 36.25 C 14 56.421 15.579 58 35.75 58 L 36.25 58 C 56.421 58 58 56.421 58 36.25 L 58 35.75 C 58 15.579 56.421 14 36.25 14 L 35.75 14 z M 48.996094 22.5 C 49.825094 22.498 50.498 23.168094 50.5 23.996094 C 50.502 24.825094 49.832906 25.498 49.003906 25.5 C 48.174906 25.502 47.502 24.832906 47.5 24.003906 C 47.498 23.174906 48.167094 22.502 48.996094 22.5 z M 35.976562 26 C 41.498562 25.987 45.987 30.454563 46 35.976562 C 46.013 41.498562 41.545437 45.987 36.023438 46 C 30.501437 46.013 26.013 41.545437 26 36.023438 C 25.987 30.501437 30.454563 26.013 35.976562 26 z M 35.990234 32 C 33.781234 32.006 31.995 33.800766 32 36.009766 C 32.006 38.218766 33.800766 40.005 36.009766 40 C 38.218766 39.995 40.005 38.199234 40 35.990234 C 39.994 33.781234 38.199234 31.995 35.990234 32 z"/></svg>
			</a>
			<a href="https://www.youtube.com/channel/UCy2T02rZDJQqR43Eo808A7g">
				<svg id="youtube" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72 72" width="64px" height="64px"><path d="M61.115,18.856C63.666,21.503,64,25.709,64,36s-0.334,14.497-2.885,17.144C58.563,55.791,55.906,56,36,56	s-22.563-0.209-25.115-2.856C8.334,50.497,8,46.291,8,36s0.334-14.497,2.885-17.144S16.094,16,36,16S58.563,16.209,61.115,18.856z M31.464,44.476l13.603-8.044l-13.603-7.918V44.476z"/></svg>
				<a href="https://discord.gg/cmckvHccja">
					<svg id="discord" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72 72" width="64px" height="64px"><path d="M54.657,19.077c0,0,8.343,9.663,8.343,27.069v3.65c0,0-10.536,6.866-13.747,6.866l-3.115-4.529	c1.936-0.867,4.577-2.372,4.577-2.372l-0.965-0.747c0,0-6.173,2.86-13.749,2.86s-13.749-2.86-13.749-2.86l-0.965,0.747	c0,0,2.641,1.505,4.577,2.372l-3.115,4.529C19.536,56.662,9,49.796,9,49.796v-3.65c0-17.406,8.343-27.069,8.343-27.069	s5.707-2.762,10.977-3.489l1.635,3.1c0,0,2.599-0.602,6.045-0.602s6.045,0.602,6.045,0.602l1.635-3.1	C48.95,16.315,54.657,19.077,54.657,19.077z M27.01,43.603c2.656,0,4.808-2.418,4.808-5.401c0-2.983-2.153-5.401-4.808-5.401	s-4.808,2.418-4.808,5.401C22.202,41.185,24.354,43.603,27.01,43.603z M44.99,43.603c2.656,0,4.808-2.418,4.808-5.401	c0-2.983-2.153-5.401-4.808-5.401c-2.656,0-4.808,2.418-4.808,5.401C40.182,41.185,42.334,43.603,44.99,43.603z"/></svg>
				</a>
			</a>
		</div>
		<nav>
			<div id="nav_first_container">
				<a href="/gcu">Conditions d'utilisation</a>
				<a href="/privacyPolicy">Politique de confidentialité</a>
			</div>
			<div id="nav_second_container">
				<a href="/userManual">FAQ</a>
				<a href="/contact">Nous contacter</a>
			</div>
		</nav>
		<div id="app_container">
			<a id="apple" href=""><img src="https://s3.gaming-cdn.com/themes/igv2/modules/footer/images/apple.svg" alt="apple"></a>
			<a href=""><img src="https://s2.gaming-cdn.com/themes/igv2/modules/footer/images/android.svg" alt="android"></a>
		</div>
		<div class="separation">
			<span></span>
		</div>
		<p>Copyright © 2022 Collect7 - Tous droits réservés</p>
	</footer>
{% endblock %}
