{% block modalSellCard %}
	<section id="modalSellCard">
		<h2>Mise en vente</h2>
		<article>
			<div>
				<img src="./img/sanji_card.png" alt=""></div>
			<div>
				<input type="number" name="" placeholder="Entrer votrez prix">
				<button>Valider</button>
			</div>
			<a href="">Annuler</a>
		</article>
	</section>
{% endblock %}
