{% block registrationModal %}
	<div id="register_modal" class="modal_register">
		<div class="modal-content">
			<div id="error_position">
				<div id="error_container">
					<div id="error_left_container">
						<img src="./img/error_logo.png" alt="error">
					</div>
					<div id="error_right_container">
						<p id="p_error">Erreur</p>
						<p id="p_error_description">Vous n’avez pas rempli le formulaire correctement</p>
					</div>
				</div>
			</div>
			<div id="modal_register">
				<H1>S'inscrire</H1>
				<button id="register_close"><img id="close_img" src="./img/cross.png" alt="close"></button>
				<p id="introduction">Rejoignez des milliers d’utilisateurs !</p>
				<form action="/registration" method="post">
					<div class="input_form">
						<img src="./img/user.png" alt="user">
						<input type="text" placeholder="Nom d’utilisateur" name="userName">
					</div>
					<div class="input_form">
						<img src="./img/mail.png" alt="mail">
						<input type="text" placeholder="Email" name="mail">
					</div>
					<div class="input_form">
						<img src="./img/password.png" alt="password">
						<input type="password" placeholder="Mot de passe" name="password">
					</div>
					<button id="validate" type="submit">Valider</button>
				</form>
				<p id="connection_redirect">Vous avez déjà un compte ?</p>
			</div>
		</div>
	</div>
{% endblock %}
