{% block walletModal %}
	<link rel="stylesheet" href="./css/wallet.css">
	<div id="wallet_modal" class="modal_wallet">
		<div class="modal-content">
			<div id="modal_wallet">
				<section class='walletSection'>
				<button id="wallet_close"><img id="close_img" src="./img/cross.png" alt="close"></button>
					<article class='walletArticle'>
						
						<h1 class='walletH1'>Pseudo</h1>
						<h2 class='walletH2'>Votre portefeuille</h2>
						<div id="wallet_container">
							<p id="first_p">00.00€</p>
						</div>

						<button class='add'><img src="./img/add.png" alt="add"></button>
						<p id="second_p">Alimenter votre compte</p>
					</article>
				</section>

			</div>
		</div>
	</div>

{% endblock %}
