{% block navMobile %}

<div>

<link rel="stylesheet" href="./css/navMobile.css">

<div id="containerNav">
<div id="nav">
<a href="/shopCollections"><img src="./img/home.png" alt="" id="home"></a>
<a href="/userOverview"><img src="./img/logo_nav.png" alt="image projet" id="profil"></a>
<img src="./img/wallet.png" alt="" id="btn_wallet">
</div>
</div>

</div>

{% endblock %}