{% block navProfil %}

<div>

<link rel="stylesheet" href="./css/navMobile.css">

<div id="containerNav">
<div id="nav">
<a href="/shopCollections"><img src="./img/home.png" alt=""></a>
<a href="/userOverview"><img src="./img/profilLink.png" alt=""></a>
<img src="./img/wallet.png" alt="" id="btn_wallet">
</div>
</div>

</div>

{% endblock %}